
.Error {
  @include flex(center,center, column);
  align-items: center;
  width: 90%;
  margin: auto;
  height: 70vh;
  padding: 10%;
  background:$sec;
  p {
    font-size: 2rem;
    &:nth-child(2) {
      font-size: 14rem;
      color: red;
    }
  }
  button {
 @extend .btn-primary;
  }
}
