.banner {
  z-index: 1;
background:linear-gradient(45deg ,black , mix(black, red, 50%) , lighten(black,2%),mix(black, red, 40%) , complement(black) , black, lighten(black, 6%), rgb(163, 6, 6) );
animation: grad 20s ease-in-out 0s infinite alternate ;
background-size: 500%;
background-position: center;
  @include flex(center, center, column);
  .cols {
    text-align: center;
    @include flex;
    // @include magicBox($sec);
    p,
    h1 {
      color: $sec;
    }
    &:last-child {
      @include flex(center, center, row);
      gap: 3%;
      button {
        border: 0;
      }
    }
  }

  @keyframes grad {
    from{
      background-position: 1%;
    }
    to{
      background-position: 100%;
    }
    
  }
}
